<footer class="bg-gray-900 text-white py-8">
  <div class="container mx-auto flex flex-col md:flex-row justify-between items-center px-6">
    <!-- Tagline -->
    <div class="mb-4 md:mb-0">
      <h3 class="text-xl font-semibold">Your Guide to the Best Universities in Kenya</h3>
      <p class="text-gray-400 text-sm mt-2">Helping students make informed choices about their education.</p>
    </div>

    <!-- Quick Links -->
    <div class="flex flex-wrap justify-center md:justify-end space-x-4 text-sm">
      <h1>Quick Links:</h1>

      <div class="text-gray-400 text-sm mt-2">
        <ul>
          <li><a href="https://en.wikipedia.org/wiki/List_of_universities_and_colleges_in_Kenya" target="_blank"
                 class="hover:text-gray-400">- All public and private universities in Kenya</a></li>
          <li>- Do you want your university to be added? Reach out to us <a class="hover:text-gray-200" href="mailto:uniguide.com"> <u>here</u></a></li>

        </ul>
      </div>

    </div>
  </div>

  <!-- Copyright -->
  <div class="text-center text-gray-500 text-xs mt-6">
    <p>© 2025 UniGuideKE. All rights reserved.</p>
  </div>
</footer>
