<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Confirmation</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen px-4">
<div class="bg-white p-6 sm:p-8 rounded-lg shadow-md w-full max-w-md text-center">

    <h4 class="text font-bold mb-4 text-green-700">Registration Started! Please check your email to verify your account.</h4>

</div>
</body>
</html>
